In [ ]:
import pandas as pd

In [ ]:
car=pd.read_csv(r"C:\Users\Jegadeesh\Downloads\Cars data.csv")

In [ ]:
car.head()

In [ ]:
car.shape

# Data Cleaning- Find all null value and give mean value to them

In [ ]:
car.isnull()

So here we cant find the null value in that case use" car.isnull().sum() " to find sum of the null value in each column.

In [ ]:
car.isnull().sum()

So we have few empty rows thats why ot shows like this

In [ ]:
car.dropna(how="all",inplace=True)

In [ ]:
car.isnull().sum()

So we need to fill Cylinder column with mean value ,inplace=true will make it permanent

In [ ]:
car['Cylinders'].fillna(car['Cylinders'].mean(),inplace=True)

In [ ]:
car.isnull().sum()

In [ ]:
car

Data Cleaning is over. Now it comes to the questions
Check different types of make

In [ ]:
car['Make'].value_counts()

2. Show all the records where origin is either Asia or Europe

In [ ]:
car.head(5)

In [ ]:
car[car["Origin"].isin(['Asia','Europe'])]

3.Remove all the records where weight is greater than 4000

In [ ]:
car[~(car['Weight']> 4000)]

Increase MPG_City Value by 3

In [ ]:
car['MPG_City']= car['MPG_City'].apply(lambda x:x+3)
car