## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [ ]:
#Import package 
import pandas as pd
import numpy as np
import ast

In [ ]:
#mount drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [154]:
file_path='/content/gdrive/MyDrive/Colab Notebooks/Datas/imdb_data.csv'
df=pd.read_csv(file_path)

In [ ]:
df.head(4)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,Keywords,cast,crew,revenue,new_cast,new_genre,director,producer,profit,roi
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.5754,...,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,"[Rob Corddry, Craig Robinson, Clark Duke, Adam...",[Comedy],[Steve Pink],[Andrew Panay],-1685349,-12.0380
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.2489,...,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,"[Anne Hathaway, Julie Andrews, H√©ctor Elizond...","[Comedy, Drama, Family, Romance]",[Garry Marshall],"[Whitney Houston, Mario Iscovich, Debra Martin...",55149435,137.8740
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.3000,...,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,"[Miles Teller, J.K. Simmons, Melissa Benoist, ...",[Drama],[Damien Chazelle],"[David Lancaster, Michel Litvak, Jason Blum, H...",9792000,296.7270
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.1749,...,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,"[Vidya Balan, Nawazuddin Siddiqui, Parambrata ...","[Thriller, Drama]",[Sujoy Ghosh],[Sujoy Ghosh],14800000,1233.3330

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

**Extract Actors,directors,producers,genres from dataset**

In [127]:
df['crew'][0]

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [155]:
df1=df #Make duplicate dataframe
try:
  df1.crew=df.crew.fillna('[]').apply(ast.literal_eval)
  df1.cast=df.cast.fillna('[]').apply(ast.literal_eval)
  df1.genres=df.genres.fillna('[]').apply(ast.literal_eval)
except:
  print("Cant apply ast literal eval")

df1['new_cast']=df1.cast.apply(lambda x:[i['name']for i in x]if isinstance(x,list) else [])
df1['new_genre']=df1.genres.apply(lambda x:[i['name']for i in x]if isinstance(x,list) else [])

In [129]:
def extract_data(data,column,condition):
  lst=[]
  for i in range(0,len(data)):
    y=[]
    for j in range(0,len(data[column][i])):
      x=data[column][i]
      if x[j]['job']==condition:
        z=x[j]['name']
        y.append(z)
      
    lst.append(y)
  return lst

In [159]:
director=extract_data(df1,'crew','Director')
producer=extract_data(df1,'crew','Producer')
df1['director']=director
df1['producer']=producer
df1['profit']=df1['revenue']-df1['budget']
df1['roi']=((df1['profit']/df1['budget']*100 )).round(3)
df1.replace(np.inf,0,inplace=True)
pd.options.display.float_format = '{:.4f}'.format

In [160]:
df1.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,Keywords,cast,crew,revenue,new_cast,new_genre,director,producer,profit,roi
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.5754,...,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,"[Rob Corddry, Craig Robinson, Clark Duke, Adam...",[Comedy],[Steve Pink],[Andrew Panay],-1685349,-12.0380

In [111]:
df_final=df1[['original_language','title','new_cast','new_genre','director','producer','profit','roi']]
df_final.head(4)

,original_language,title,new_cast,new_genre,director,producer,profit,roi
0,en,Hot Tub Time Machine 2,"[Rob Corddry, Craig Robinson, Clark Duke, Adam...",[Comedy],[Steve Pink],[Andrew Panay],-1685349,-12.0380
1,en,The Princess Diaries 2: Royal Engagement,"[Anne Hathaway, Julie Andrews, H√©ctor Elizond...","[Comedy, Drama, Family, Romance]",[Garry Marshall],"[Whitney Houston, Mario Iscovich, Debra Martin...",55149435,137.8740
2,en,Whiplash,"[Miles Teller, J.K. Simmons, Melissa Benoist, ...",[Drama],[Damien Chazelle],"[David Lancaster, Michel Litvak, Jason Blum, H...",9792000,296.7270
3,hi,Kahaani,"[Vidya Balan, Nawazuddin Siddiqui, Parambrata ...","[Thriller, Drama]",[Sujoy Ghosh],[Sujoy Ghosh],14800000,1233.3330

**Which movie made the highest profit? Who were its producer and director? Identify the actors in that film**

In [ ]:
top_gross=df_final.sort_values(by='profit',ascending=False).head(10).reset_index()
top_gross['profit'] = top_gross['profit'].apply("{:,}".format)
top_gross[['title','producer','director','new_cast','profit']]

,title,producer,director,new_cast,profit
0,Furious 7,"[Vin Diesel, Neal H. Moritz, Michael Fottrell,...",[James Wan],"[Vin Diesel, Paul Walker, Dwayne Johnson, Mich...","1,316,249,360"
1,The Avengers,[Kevin Feige],[Joss Whedon],"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...","1,299,557,910"
2,Avengers: Age of Ultron,[Kevin Feige],[Joss Whedon],"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...","1,125,403,694"
3,Beauty and the Beast,"[David Hoberman, Todd Lieberman]",[Bill Condon],"[Emma Watson, Dan Stevens, Luke Evans, Kevin K...","1,102,886,337"
4,Transformers: Dark of the Moon,"[Don Murphy, Ian Bryce, Lorenzo di Bonaventura...",[Michael Bay],"[Shia LaBeouf, John Malkovich, Ken Jeong, Fran...","928,746,996"
5,Zootopia,[Clark Spencer],"[Byron Howard, Rich Moore, Jared Bush]","[Ginnifer Goodwin, Jason Bateman, Shakira, Idr...","873,784,195"
6,Jurassic Park,"[Kathleen Kennedy, Gerald R. Molen]",[Steven Spielberg],"[Sam Neill, Laura Dern, Jeff Goldblum, Richard...","857,100,000"
7,The Lord of the Rings: The Two Towers,"[Barrie M. Osborne, Peter Jackson]",[Peter Jackson],"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...","847,287,400"
8,The Dark Knight Rises,[],[],[],"834,939,099"
9,Finding Dory,[Lindsey Collins],"[Andrew Stanton, Angus MacLane]","[Ellen DeGeneres, Albert Brooks, Hayden Rolenc...","828,570,889"

**This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?**

In [ ]:
roi=df1[['original_language','roi']]
roi.replace(np.inf,0,inplace=True)
lang=roi['original_language'].value_counts().rename_axis('original_language').reset_index(name='counts')
roi_sum=roi.groupby('original_language').sum()
data=pd.merge(roi_sum,lang,on='original_language')
data['roi_avg'] = data['roi']/data['counts']
data[['original_language','roi_avg']].sort_values(by='roi_avg',ascending=False)

**Find out the unique genres of movies in this dataset.**

In [74]:
new_df=df_final.explode('new_genre')
x=pd.DataFrame(list(new_df['new_genre'].unique()))
x

                  0
0            Comedy
1             Drama
2            Family
3           Romance
4          Thriller
5            Action
6         Animation
7         Adventure
8            Horror
9       Documentary
10            Music
11            Crime
12  Science Fiction
13          Mystery
14          Foreign
15          Fantasy
16              War
17          Western
18          History
19              NaN
20         TV Movie

# **Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.**

In [ ]:
df_final.head(1)

,original_language,title,new_cast,new_genre,director,producer,profit,genres
0,en,Hot Tub Time Machine 2,"[Rob Corddry, Craig Robinson, Clark Duke, Adam...",[Comedy],[Steve Pink],[Andrew Panay],-1685349,Comedy

In [83]:
new_df = df_final.explode('new_cast').reset_index()
top_actors = pd.DataFrame(new_df.new_cast.value_counts()).reset_index()
top_actors.columns = ['Actors','Number Of Movies']
top_actors.head(3)

              Actors  Number Of Movies
0     Robert De Niro                30
1  Samuel L. Jackson                30
2     Morgan Freeman                27

# **Movies by Robert De Niro**

In [84]:
new_df.head(2)

,index,original_language,title,new_cast,new_genre,director,producer,profit,genres
0,0,en,Hot Tub Time Machine 2,Rob Corddry,[Comedy],[Steve Pink],[Andrew Panay],-1685349,Comedy
1,0,en,Hot Tub Time Machine 2,Craig Robinson,[Comedy],[Steve Pink],[Andrew Panay],-1685349,Comedy

In [100]:
def eda(cast):
  m=[]
  for i in range(0,len(new_df)):
    if new_df['new_cast'][i]==cast:
      x=new_df['new_cast'][i]
      y=new_df['title'][i]
      z=new_df['new_genre'][i]
      a=new_df['profit'][i]
      l=[x,y,z,a]
      m.append(l)
  return m

In [102]:
m=eda('Robert De Niro')
data=pd.DataFrame(m)
data.columns=['actor','movie','genre','profit']
data.sort_values(by='profit',ascending=False,inplace=True)
data.loc[:, "profit"] =data["profit"].map('{:,d}'.format)
data.head(5)

,actor,movie,genre,profit
8,Robert De Niro,Meet the Parents,"[Comedy, Romance]","275,444,045"
16,Robert De Niro,American Hustle,"[Drama, Crime]","211,171,807"
10,Robert De Niro,Sleepers,"[Crime, Drama, Thriller]","121,615,285"
26,Robert De Niro,Analyze This,"[Comedy, Crime]","96,885,658"
29,Robert De Niro,Backdraft,"[Action, Crime, Drama, Mystery, Thriller]","77,368,585"

# **Movies by Samuel L. Jackson**

In [103]:
m=eda('Samuel L. Jackson')
data=pd.DataFrame(m)
data.columns=['actor','movie','genre','profit']
data.sort_values(by='profit',ascending=False,inplace=True)
data.loc[:, "profit"] =data["profit"].map('{:,d}'.format)
data.head(5)

,actor,movie,genre,profit
5,Samuel L. Jackson,The Avengers,"[Science Fiction, Action, Adventure]","1,299,557,910"
24,Samuel L. Jackson,Avengers: Age of Ultron,"[Action, Adventure, Science Fiction]","1,125,403,694"
11,Samuel L. Jackson,Jurassic Park,"[Adventure, Science Fiction]","857,100,000"
3,Samuel L. Jackson,Star Wars: Episode III - Revenge of the Sith,"[Science Fiction, Adventure, Action]","737,000,000"
15,Samuel L. Jackson,Captain America: The Winter Soldier,"[Action, Adventure, Science Fiction]","544,766,572"

# **Movies by Morgan Freeman**

In [104]:
m=eda('Morgan Freeman')
data=pd.DataFrame(m)
data.columns=['actor','movie','genre','profit']
data.sort_values(by='profit',ascending=False,inplace=True)
data.loc[:, "profit"] =data["profit"].map('{:,d}'.format)
data.head(5)

,actor,movie,genre,profit
11,Morgan Freeman,The Dark Knight,"[Drama, Action, Crime, Thriller]","819,558,444"
20,Morgan Freeman,Robin Hood: Prince of Thieves,[Adventure],"342,493,908"
5,Morgan Freeman,Batman Begins,"[Action, Crime, Drama]","224,218,673"
26,Morgan Freeman,Ted 2,[Comedy],"149,022,588"
19,Morgan Freeman,London Has Fallen,"[Action, Crime, Thriller]","145,754,447"

# **Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?**

In [109]:
df_final[['title','director','producer']]

,title,director,producer
0,Hot Tub Time Machine 2,[Steve Pink],[Andrew Panay]
1,The Princess Diaries 2: Royal Engagement,[Garry Marshall],"[Whitney Houston, Mario Iscovich, Debra Martin..."
2,Whiplash,[Damien Chazelle],"[David Lancaster, Michel Litvak, Jason Blum, H..."
3,Kahaani,[Sujoy Ghosh],[Sujoy Ghosh]
4,Marine Boy,[Jong-seok Yoon],[]
...,...,...,...
2995,Chasers,[Dennis Hopper],[James G. Robinson]
2996,We Are the Best!,[Lukas Moodysson],[Lars J√∂nsson]
2997,The Long Kiss Goodnight,[Renny Harlin],"[Stephanie Austin, Shane Black, Renny Harlin, ..."
2998,Along Came Polly,[John Hamburg],"[Danny DeVito, Michael Shamberg, Stacey Sher]"
2999,Abduction,[John Singleton],"[Doug Davison, Roy Lee, Ellen Goldsmith-Vein, ..."

In [157]:
df1

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,new_cast,new_genre
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.5754,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,"[Rob Corddry, Craig Robinson, Clark Duke, Adam...",[Comedy]
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.2489,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,"[Anne Hathaway, Julie Andrews, H√©ctor Elizond...","[Comedy, Drama, Family, Romance]"
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.3000,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,"[Miles Teller, J.K. Simmons, Melissa Benoist, ...",[Drama]
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.1749,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,"[Vidya Balan, Nawazuddin Siddiqui, Parambrata ...","[Thriller, Drama]"
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.1481,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,"[Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon, Kim...","[Action, Thriller]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.8533,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,"[Tom Berenger, William McNamara, –≠—Ä–∏–∫–∞ –≠...","[Comedy, Romance]"
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.7280,...,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,"[Mira Barkhammar, Mira Grosin, Liv LeMoyne, Da...","[Drama, Music]"
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.4823,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,"[Geena Davis, Samuel L. Jackson, Yvonne Zima, ...","[Crime, Action, Mystery, Thriller]"
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.7255,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,"[Ben Stiller, Jennifer Aniston, Philip Seymour...","[Comedy, Romance]"
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.5121,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,"[Taylor Lautner, Lily Collins, Alfred Molina, ...","[Thriller, Action, Mystery]"

In [162]:
df2=df_final.explode('producer').reset_index()
df2.replace(np.inf,0,inplace=True)
df3=df2['producer'].value_counts().reset_index()
df4=df2.groupby('producer').sum().reset_index()
df3.columns=['producer','counts']
data=pd.merge(df3,df4,on='producer')
data['avg_roi']=data['roi']/data['counts']
data[['producer','avg_roi']].sort_values(by='avg_roi',ascending=False).head(3)

          producer        avg_roi
2358    Lee Eun-ha 419747562.5000
2356  Ji Sang-yong 419747562.5000
2348      Jang Jin 419747562.5000

# **Top 3 directors prefer which actors the most?**

In [163]:
df1.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,Keywords,cast,crew,revenue,new_cast,new_genre,director,producer,profit,roi
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.5754,...,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,"[Rob Corddry, Craig Robinson, Clark Duke, Adam...",[Comedy],[Steve Pink],[Andrew Panay],-1685349,-12.0380

In [176]:
#convert list
def list_to_string(s):
    if len(s)>1:
        x=s[0]
        for i in range(1,len(s)):
            x=x+','+s[i]
    elif len(s)==1:
        x=s[0]
    else:
        x=''
    return x

lis=[]
for i in range(0,len(df1)):
  s=df1['director'][i]
  x=list_to_string(s)
  lis.append(x)

In [192]:
df1['director']=lis
data=df1.groupby('director')['popularity'].mean().sort_values(ascending=False).reset_index()
data.head(3)

       director  popularity
0    Tim Miller    187.8605
1    James Gunn    119.3113
2  Edgar Wright    118.9316

In [ ]:
data_explode=df1.explode('new_cast').reset_index()
data_explode.head(5)

In [200]:
def dir_pref(data,condition):
  x=[]
  for i in range(0,len(data)):
    if data['director'][i]==condition:
      s=data['new_cast'][i]
      x.append(s)
  return x

**Tim Miller**

In [206]:
x=dir_pref(data_explode,'Tim Miller')
x=list(set(x))
x

['Benjamin Wilkinson',
 'Heather Ashley Chase',
 'Kyle Cassie',
 'David Hardware',
 'Hugh Scott',
 'Leslie Uggams',
 'Aatash Amir',
 'Rachel Sheen',
 'Paul Lazenby',
 'Kyle Rideout',
 'Anthony J. Sacco',
 'Jason William Day',
 'Taylor Hickson',
 'Emily Haine',
 'Ryan Reynolds',
 'T.J. Miller',
 'Brianna Hildebrand',
 'Rob Hayter',
 'Morena Baccarin',
 'Cindy Piper',
 'Paul Belsito',
 'Ayzee',
 'Stefan Kapiƒçiƒá',
 'Fabiola Colmenero',
 'Randal Reeder',
 'Chad Riley',
 'Darcey Johnson',
 'Stan Lee',
 'Sean Quan',
 'Jed Rees',
 'Justyn Shippelt',
 'Tony Chris Kazoleas',
 'Style Dayne',
 'Olesia Shewchuk',
 'David Longworth',
 'Ed Skrein',
 'Gina Carano',
 'Naika Toussaint',
 'Matthew Hoglie',
 'Isaac C. Singleton Jr.',
 'Greg LaSalle',
 'Donna Yamamoto',
 'Michael Benyaer',
 'Michael Neumeyer',
 'Victoria De Mare',
 'Dan Zachary']

**Edgar Wright**

In [207]:
x=dir_pref(data_explode,'Edgar Wright')
x=list(set(x))
x

['Mason Pike',
 'Martin Freeman',
 'James Blackshear',
 'Angie Wallis',
 'Samantha White',
 'Chad Joyce',
 'Keith Hudson',
 'David Bradley',
 'Big Boi',
 'Ronald Joe Vasquez',
 'Greg Townley',
 'Elizabeth Davidovich',
 'Eddie Marsan',
 'Jonathan Aris',
 'Mark Smith',
 'Mark Donovan',
 'Paddy Considine',
 'Darren Boyd',
 'James Granstrom',
 'Lanny Joon',
 'Hal Whiteside',
 'Mark Kempner',
 'Jenny Bede',
 'Mike Sarne',
 'Patrick R. Walker',
 'Wilbur Fitzgerald',
 'Luke Scott',
 'D.R. Lewis',
 'Flora Slorach',
 'Reece Shearsmith',
 'Pierce Brosnan',
 'Marshall Choka',
 'Colin Lacativa',
 'Erica Frene',
 'Hudson Meek',
 'Rafe Spall',
 'Walter Hill',
 'Ben VanderMey',
 'Alex Austin',
 'Sidney Sewell',
 'Patricia Franklin',
 'Thurman Sewell',
 'Jeff Chase',
 'Charlotte Reidie',
 'Sophie Evans',
 'Leo Thompson',
 'Julia Deakin',
 'Sebastian Zaniesienko',
 'Lance Palmer',
 'Richard Hadfield',
 'Ryan Newton',
 'CJ Jones',
 'Paul Williams',
 'R. Marcos Taylor',
 'Nick Frost',
 'Marisol Correa',
 'Gabe Cronnelly',
 'Simon Pegg',
 'Nick Holder',
 'Christopher Beanland',
 'Jasper Levine',
 'Trey McGriff',
 'Samuel Mak',
 'David Conk',
 'Kelly Franklin',
 'Andy McDermott',
 'Kevin Spacey',
 'Zachary Bailess',
 'Lily James',
 'Michael Smiley',
 'Jamie Foxx',
 'Thomas Law',
 'Eiza Gonz√°lez',
 'Donald K. Overstreet',
 'Ken Bones',
 'Troy Faruk',
 'Rose Reynolds',
 'Jon Bernthal',
 'Mark Heap',
 'Bill Nighy',
 'Mike "Killer Mike" Render',
 'Shellita Boxie',
 'Jon Hamm',
 'Danny Le Boyer',
 'Flea',
 'Rosamund Pike',
 'Brigitte Kali Canales',
 'Stacey Franklin',
 'Richard Graham',
 'Luke Bromley',
 'Nicholas Burns',
 'James Tarpey',
 'Alice Lowe',
 'Ricky Champ',
 'Brogan Hall',
 'Duke Jackson',
 'Elijah Everett',
 'Paul Bentall',
 'Paul Kennington',
 'Teddy Kempner',
 'Tyler Dobbs',
 'Juliette Sicard',
 'Connie Lee',
 'Morse Diggs',
 'Sky Ferreira',
 'Allison King',
 'Steve Oram',
 'Francesca Reidie',
 'Ansel Elgort',
 'Jon Spencer',
 'Marvin E. West']

**James Gunn**

In [205]:
x=dir_pref(data_explode,'James Gunn')
x=list(set(x))
x

['Milynn Sarley',
 'Richard Katz',
 'Fred Galle',
 'Krystian Godlewski',
 'Tyler Bates',
 'Rachel Cullen',
 'Michael Rooker',
 'Zoe Saldana',
 'Alexis Denisof',
 'James Gunn',
 'Chris Sullivan',
 'Abidemi Sobande',
 'Sean Gunn',
 'Lloyd Kaufman',
 'Laura Ortiz',
 'Keeley Forsyth',
 'Sierra Love',
 'Freddie Andrews',
 'Molly C. Quinn',
 'Steve Agee',
 'Enzo Cilenti',
 'Melia Kreiling',
 'Rosie Jones',
 'Dominic Grant',
 'Stan Lee',
 'Michelle Yeoh',
 'John C. Reilly',
 'Sylvester Stallone',
 'Cheyanna Lavon Zubas',
 'Tommy Flanagan',
 'Marama Corlett',
 'Frank Gilhooley',
 'Evan Jones',
 'Brian Clackley',
 'Spencer Wilding',
 'Jason Williams',
 'Stephen Blackehart',
 'Kurt Russell',
 'Peter Serafinowicz',
 'Joe Fria',
 'Sharif Atkins',
 'Rob Zombie',
 'Elizabeth Ludlow',
 'Jimmy Urine',
 'Solomon Mousley',
 'Elizabeth Debicki',
 'Ben Browder',
 'Fred',
 'Luke Cook',
 "Alphonso A'Qen-Aten Jackson",
 'Pom Klementieff',
 'Ralph Ineson',
 'Marianna Dean',
 'Leota Gunn',
 'Nea Dune',
 'Raed Abbas',
 'John Brotherton',
 'Dave Bautista',
 'Erica Melargo',
 'Aaron Schwartz',
 'Emily Redding',
 'Isabella Poynton',
 'Naomi Ryan',
 'Jeff Goldblum',
 'Kendra Carelli',
 'Lindsay Morton',
 'Robert Firth',
 'Miley Cyrus',
 'Emmett Scanlan',
 'Donny Carrington',
 'Jozef Aoki',
 'Djimon Hounsou',
 'Tomas Arana',
 'Glenn Close',
 'Miriam Lucia',
 'Seth Green',
 'Stephen Vining',
 'Imogen Poynton',
 'Benicio del Toro',
 'Wyatt Oleff',
 'Helen Banks',
 'Brendan Fehr',
 'Damita Jane Howard',
 'Christopher Fairbank',
 'Blondy Baruti',
 'Bradley Cooper',
 'Nathan Fillion',
 'Max Wrottesley',
 'David Yarovesky',
 'Chris Pratt',
 'Hannah Gottesman',
 'Laura Haddock',
 'Alison Lintott',
 'Lee Pace',
 'Ekaterina Zalitko',
 'Jim Gunn Sr.',
 'Guillermo Rodriguez',
 'Terence Rosemore',
 'Karen Gillan',
 'Kelly Richardson',
 'Tahseen Ghauri',
 'Ving Rhames',
 'Ophelia Lovibond',
 'Vin Diesel',
 'Graham Shiels',
 'Alex Rose',
 'David Hasselhoff',
 'Alexis Rodney',
 'Josh Brolin',
 'Mikaela Hoover',
 'Douglas Robson',
 'Nicole Alexandra Shipley',
 'Enoch Frost',
 'Alexander Klein',
 'Jennifer Moylan-Taylor',
 'Josh Tipis',
 'Tom Proctor',
 'Richard Christy',
 'Nick Holmes',
 'Michael Rosenbaum',
 'Janis Ahern',
 'Ronan Summers',
 'Gregg Henry',
 'Bruce Mackinnon',
 'Hilty Bowen',
 'Rhoda Griffis',
 'Mac Wells']